# Indicar a NPM que busque los paquetes del scope @autodesk en el registro de Autodesk
@autodesk:registry=https://cdn.autodesk.com/Packages/NPM/adsk-platform-services/

# Solución temporal para el error de certificado SSL en Vercel.
# Esto le indica a npm que no valide el certificado SSL para este registro específico.
@autodesk:strict-ssl=false
